.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.login-card {
    padding: 30px;
    width: 380px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
     background-image:linear-gradient(to right,rgb(21, 126, 158),rgb(49, 180, 93),rgb(47, 149, 167));
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background: rgb(15, 23, 42);
    color: rgb(255, 255, 255);
    padding: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 15px;
}

.sidebar a {
    color: rgb(255, 255, 255);
    padding: 8px;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

.sidebar a:hover,
.sidebar a.active {
    background: rgb(37, 99, 235);
}

.main {
    flex: 1;
    padding: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

@media (max-width: 1199px) {
    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .grid-4,
    .grid-3,
    .grid-2 {
        grid-template-columns: 1fr;
    }
}